
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --color-primary: #072d71;
    --color-secondary: #d1efff;
    --color-tertiary: #0896ff;
    --color-button: #0896ff;
    --color-button-hover: #0057ff;
    --color-text: #444444;
    --color-white: #FFFFFF;
}

/* Estilos generales */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.icono {
    width: 40px;
    height: 40px;
    fill: currentColor;
}


.main-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

/* Banner */
.header-banner {
    flex: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0 0;
    margin: 0 20px;
}

/* Sección de entrada */
.input-section {
    flex: 60%;
    background-color: var(--color-secondary);
    border: 1px solid var(--color-primary);
    border-radius: 64px 64px 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

/* Títulos */
.main-title {
    font-size: 48px;
    font-family: 'Poppins', sans-serif ;
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    color: var(--color-white);
    margin-bottom: 20px;
    text-align: center;
    text-shadow: 4px 4px 8px  #e4d617;
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.711);
    
}
.section-title {
    font-family: 'Poppins', sans-serif;
    font-size: 36px;
    font-weight: 600;
    color: var(--color-primary);
    margin: 10px 0;
    text-align: center;
}

/* Contenedores de entrada y botón */
.input-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

.input-name {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--color-primary);
    border-radius: 25px 0 0 25px;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}

.button-container {
    width: 300px;
    justify-content: center;
    display: flex;
    align-items: center;
}

/* Estilos de entrada de texto */
.input-title {
    flex: 1;
    padding: 10px 15px;
    font-size: 16px;
    border: 2px solid var(--color-primary);
    border-right: none;
    border-radius: 25px 0 0 25px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Estilos de botón */
button {
    padding: 15px 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    border: 2px solid var(--color-primary);
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}

.button-add {
    background-color: var(--color-tertiary);
    color: var(--color-white);
    border-radius: 0 25px 25px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-add i {
    margin-right: 8px; 
}

.button-add:hover {
    background-color: #0057ff;

}

/* Listas */
ul {
    list-style-type: none;
    color: var(--color-text);
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    margin: 20px 0;
}

.result-list {
    margin-top: 15px;
    color: var(--color-primary);
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    font-style: italic;
}

/* Botón de sortear título */
.button-draw {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px 40px;
    color: var(--color-white);
    background-color: var(--color-button);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-draw img {
    margin-right: 40px;
}
.button-draw i {
    margin-right: 8px; 
}

.button-draw:hover {
    background-color: var(--color-button-hover);
}


.footer-banner {
    background-color: var(--color-primary); 
    color: #ecf0f1; 
    padding: 20px 10px; 
    text-align: center; 
    font-family: 'Poppins', sans-serif; 
    font-size: 18px; 
    border-top: 5px solid #76d5ff; 
    box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.2); 
}

.footer-banner a {
    color: #36bbff; 
    text-decoration: none; 
    font-weight: 600; 
    transition: color 0.3s ease; 
}

.footer-banner a:hover {
    color:  #f4e327; 
}

